.pop {
  position: fixed;
  width: 630px;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 3px solid #cccccc;
  padding: 20px;
  z-index: 9999;
  margin-top:50px;
}

.pop label {
  display: block;
  margin-bottom: 5px;
}

.pop input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 4px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 16px;
}

.pop input[type="submit"] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 5px;
  cursor: pointer;
}