form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ADD8E6;
  padding : 10px;
  width: 600px;
  margin-left:420px;
}

div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

input[type="password"] {
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
}

button[type="submit"] {
  padding: 0.5em 1em;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #0062cc;
}