<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    .input-container {
      display: flex; /* Use flexbox */
    }

    .input-container input {
      flex: 1; /* Allow inputs to grow and take up equal space */
      margin-right: 10px; /* Add some spacing between inputs */
    }
  </style>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/adduniversity.css') }}">
</head>
<body>
<div class="popup">
    <form action="/sadduniversity" method="post">
        <h1>Add University</h1>
       <div class="form-container">
           <label>University Applied :</label>
           <input type="text" id="universityapplied" name="universityapplied" required >

           <label>Location :</label>
           <input type="text" id="location" name="location" required >

           <label>Specialization :</label>
           <input type="text" id="specialization" name="specialization" required >

           <h5>Ensure that the month and year you will enter are equal to or greater than the current month and year to prevent errors.</h5>

          <label for="date-input">Select applied date:</label>
          <input type="date" id="date-input" name="date" min="{{ today.strftime('%Y-%m-%d') }}" required>

           <label>Status :</label>
           <select class="input-box" id="status" name="status" required>
              <option value="">Select your status</option>
              <option value="Applied">Applied</option>
              <option value="Approved">Approved</option>
              <option value="Rejected">Rejected</option>
           </select><br><br>

           <button type="submit">submit</button>
           <a href="universityapplied">back</a>
       </div><br>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li class="flash-message">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    </div>

</body>
</html>