<!DOCTYPE html>
<html>
<head>
    <title>overseas project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/overseas.css') }}">
    <style>
        body {
        background-color: #F2F2F2;
        font-family: roboto;
      }
      form {
        border: 3px solid #1E90FF;
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
      }
      input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
      }
    </style>
</head>
<body>
<div class="navbar">
    <ul>
        <img href="home" src="{{url_for('static', filename='img.png')}}" class="img"/>
        <li><h1 class="main-heading container" style="margin-right:220px;" >Genesis Overseas</h1></li>
        <li><a href="home">Home</a></li>
     <!--   <li><a href="/register">Sign_up</a></li>
        <li><a href="login">Sign_in</a></li>  -->
        <li><a href="admin_login">Admin_login</a></li>
        <li><a href="about">About Us</a></li>
        <li><a href="contact">Contact Us</a></li>
    </ul>
</div>
<div class="main" >
   <img  src="{{url_for('static', filename='img_5.png')}}" style="display: block; margin: 0 auto; width: 60%; height: auto; border: 1px solid #ccc; float: left;"/>
    <div style="text-align:right; margin-top:15px; margin-right:200px;" >

       <a href="login" ><button style="background-color: #1E90FF; color: white; padding: 20px 42px; border: none; border-radius: 5px; cursor: pointer;" onmouseover="this.style.backgroundColor='#3e8e41'" onmouseout="this.style.backgroundColor='#1E90FF'" class="my-button">Sign In</button></a> <br><br>
        <a href="register" ><button style="background-color: #1E90FF; color: white; padding: 20px 40px; border: none; border-radius: 5px; cursor: pointer;" onmouseover="this.style.backgroundColor='#3e8e41'" onmouseout="this.style.backgroundColor='#1E90FF'" class="my-button">Sign Up</button></a>

    </div>
</div>
</body>
</html>








